{% extends 'base.html.twig' %}
 {% block banner %}
     {{ include ('parts/about/banner.html.twig')}}
 {% endblock %}
{% block project %}
{% endblock %}

{% block features %}
    {{ parent() }}
    <section id="fh5co-features-3">
        <div class="container">
            <div class="col-md-6 col-md-pull-8">
                <figure class="fh5co-feature-image animate-box">
                    <img src="{{ asset('assets/images/macbook.png') }}" alt="Free HTML5 Bootstrap Template by FREEHTML5.co">
                </figure>
            </div>
            <div class="col-md-6">
                <span class="fh5co-label animate-box">More Features</span>
                <h2 class="fh5co-lead animate-box">Let's take your business to the next level</h2>
                <div class="fh5co-feature animate-box">
                    <div class="fh5co-icon"><i class="icon-paragraph"></i></div>
                    <div class="fh5co-text">
                        <h3>Beautiful Typography</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                    </div>
                </div>
                <div class="fh5co-feature animate-box">
                    <div class="fh5co-icon"><i class="icon-umbrella"></i></div>
                    <div class="fh5co-text">
                        <h3>Eco Friendly</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                    </div>
                </div>
                <div class="fh5co-feature animate-box">
                    <div class="fh5co-icon"><i class="icon-toggle"></i></div>
                    <div class="fh5co-text">
                        <h3>Wide and Boxed</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                    </div>
                </div>

                <div class="fh5co-btn-action animate-box">
                    <a href="#" class="btn btn-primary btn-cta">More Features</a>
                </div>

            </div>
        </div>
    </section>
    <!-- END #fh5co-features-3 -->
    <section id="fh5co-features-4">
        <div class="container">
            <div class="col-md-6 col-md-push-6">
                <figure class="fh5co-feature-image animate-box">
                    <img src="{{ asset('assets/images/macbook.png') }}" alt="Free HTML5 Bootstrap Template by FREEHTML5.co">
                </figure>
            </div>
            <div class="col-md-6 col-md-pull-6">
                <span class="fh5co-label animate-box">See Features</span>
                <h2 class="fh5co-lead animate-box">Superb Features</h2>
                <div class="fh5co-feature animate-box">
                    <div class="fh5co-icon"><i class="icon-check2"></i></div>
                    <div class="fh5co-text">
                        <h3>Beautiful Typography</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                    </div>
                </div>
                <div class="fh5co-feature animate-box">
                    <div class="fh5co-icon"><i class="icon-check2"></i></div>
                    <div class="fh5co-text">
                        <h3>Eco Friendly</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                    </div>
                </div>
                <div class="fh5co-feature animate-box">
                    <div class="fh5co-icon"><i class="icon-check2"></i></div>
                    <div class="fh5co-text">
                        <h3>Wide and Boxed</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                    </div>
                </div>

                <div class="fh5co-btn-action animate-box">
                    <a href="#" class="btn btn-primary btn-cta">More Features</a>
                </div>

            </div>
        </div>
    </section>
    <!-- END #fh5co-features-4 -->
{% endblock %}

