<section id="fh5co-hero" class="js-fullheight" style="background-image: url({{ asset('assets/images/hero_bg.jpg') }});" data-next="yes">
    <div class="fh5co-overlay"></div>
    <div class="container">
        <div class="fh5co-intro js-fullheight">
            <div class="fh5co-intro-text">
                <!--
                    INFO:
                    Change the class to 'fh5co-right-position' or 'fh5co-center-position' to change the layout position
                    Example:
                    <div class="fh5co-right-position">
                -->
                <div class="fh5co-left-position">
                    <h2 class="animate-box">Connectez vos applications ensemble</h2>
                    <p class="animate-box"><a href="https://vimeo.com/channels/staffpicks/93951774" class="btn btn-outline popup-vimeo btn-video"><i class="icon-play2"></i>Regardez la vidéo</a> <a href="http://freehtml5.co" target="_blank" class="btn btn-primary">Savoir plus</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="fh5co-learn-more animate-box">
        <a href="#" class="scroll-btn">
            <span class="text">{{ bannerMore }}</span>
            <span class="arrow"><i class="icon-chevron-down"></i></span>
        </a>
    </div>
</section>