<section id="fh5co-hero" class="no-js-fullheight" style="background-image: url({{ asset('assets/images/hero_bg.jpg') }});" data-next="yes">
    <div class="fh5co-overlay"></div>
    <div class="container">
        <div class="fh5co-intro no-js-fullheight">
            <div class="fh5co-intro-text">
                <!--
                    INFO:
                    Change the class to 'fh5co-right-position' or 'fh5co-center-position' to change the layout position
                    Example:
                    <div class="fh5co-right-position">
                -->
                <div class="fh5co-center-position">
                    <h2 class="animate-box">{{ bannerText }}</h2>
                    <h3 class="animate-box">{{ bannerslogan }}</h3>

                </div>
            </div>
        </div>
    </div>
    <div class="fh5co-learn-more animate-box">
        <a href="#" class="scroll-btn">
            <span class="text">{{ bannerMore }}</span>
            <span class="arrow"><i class="icon-chevron-down"></i></span>
        </a>
    </div>
</section>